* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    display: flex;
    justify-content:space-between;
    background: #fff;
    height: 50px;
    align-items: center;
    z-index: 1;
    position: fixed;
    width: 100%;
}
.left-side {
    width: 300px;
    display: flex;
    justify-content: flex-start;
}
.fa-video {
    cursor: pointer;
}

.menu {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: none;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    background: #fff;
    align-self: center;
    
}

.material-icons {
    font-size: 16px;
}
.fa-youtube {
    color: red;
    background: white;
    font-size: 20px;
}
.fa-bars {
    font-size: 18px;
}
.you {
    align-self:center;
    margin-left: 15px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
}
.quality {
    font-size: 9px;
    font-weight: normal;
}
.middle {
    display: flex;
    width: 700px;
    align-items: center;
}
.inpt-search {
    width: 600px;
    height: 35px;
    padding-left: 5px;
    position: relative;
    border: 1px solid rgb(223, 219, 219);
}
.inpt-search::placeholder {
    font-size: 17px;
    padding-left:1px;
}
.btn-search {
    width: 65px;
    height: 35px;
    align-items : center;
    top: 0;
    left: 0;
    border: 1px solid rgb(223, 219, 219);
    border-radius: 2px;
    background: rgb(231, 229, 229);
    outline: none;
}
.btn-search:hover {
    background: rgb(223, 219, 219);
}
.fa-search {
    color: rgb(121, 115, 115);
    font-size: 14px;
}
.fa-search:hover {
    color: #000;
}
.right-side {
    display: flex;
    width: 300px;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    
}
.fa-video {
    font-size : 17px;
    color: #2b2727b2;
}
.fa-th {
    margin-left: 35px;
    font-size : 17px;
    color: #2b2727b2;
    cursor: pointer;
}
.fa-bell {
    margin-left: 35px;
    font-size : 17px;
    color: #2b2727b2;
    cursor: pointer;
}
.btn-user {
    margin-left: 35px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: rgb(228, 215, 221);
    background:#3a013ab2;
    border:none;
    outline: none;
    cursor: pointer;
    cursor:pointer;
}
.fa-user {
    font-size: 18px;
    color:#cabecab2;
}
.main {
    display: flex;
    position: relative;
    top: 50px;
    flex-direction: row;
    background: yellow;
}
.left-nav {
    background-color: #f5f5f5;
    height: calc(100vh - 50px);
    width:245px;
    overflow: scroll;
    overflow-x: hidden;
    position: fixed;
}
.nav-list {
    list-style: none;
}
.nav-list a {
    text-decoration: none;
    color: lightslategray;
    padding-left: 10px;
}
.nav-items {
    width: 195px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 44px;
    position: relative;
}
.nav-items:hover {
    background-color: #e9e0e0f2;
}
.nav-items .fas{
    margin-right: 22px;
    font-size: 16px;
    color:  lightslategray;
}
.nav-items:active {
    background-color: #c6c6c6;
}
.icon-text {
    visibility: hidden;
    font-size: 14px;
    color: black;
    background-color: #f2f2f2f2;
    font-weight: 500;
    position: absolute;
    top: 35px;
    left: 68px;
    z-index: 10;
    border: 1px solid grey;
}
.navigation a:focus .red-nav {
    color: #cc0000;
}
.fa-home:hover .icon-text,
.fa-fire:hover .icon-text,
.fa-history:hover .icon-text,
.fa-music:hover .icon-text,
.fa-futbol:hover .icon-text,
.fa-gamepad:hover .icon-text,
.fa-newspaper:hover .icon-text,
.fa-video:hover .icon-text,
.fa-podcast:hover .icon-text,
.fa-plus-circle:hover .icon-text,
.fa-broadcast-tower:hover .icon-text,
.fa-cog:hover .icon-text,
.fa-flag:hover .icon-text,
.fa-question-circle:hover .icon-text,
.fa-comment-alt:hover .icon-text {

    visibility: visible;
}
.menu-title {
    height: 30px;
    font-size: 18px;
    padding-left: 50px;
    padding-top: 5px;
    color :#606060;
}
.menu-title2 {
font-size: 15px;
padding-top: 13px;
padding-left: 55px;
width: 250px;
height: 52px;
color: #606060;
}
.sign-in {
    color: #065fd4;
    cursor: pointer;
    font-weight: 600;
    margin-top:5px;
}
.utube {
    width: 250px;
    height: 30px;
    color:#606060;
    font-size: 16px;
    padding-left: 15px;
}
.section {
    width: 100%;
    background: red;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.video-menu {
    width: 195px;
    background:#f5f5f5;
    position: absolute;
    right: 0;
    margin-right: 53px;
}
.fa-youtube-square {
    margin-right: 22px;
    font-size: 22px;
    color: red;
}
.grid-menu {
    width: 195px;
    background: #f5f5f5;
    position: absolute;
    right: 0;
    margin-right: 3px;
}
.fa-youtube {
    margin-right: 10px;
}
.logo {
    margin-right: 5px;
}
.one{
    width: 180px;
    height: 120px;
    background:blue;
    margin: 20px;
    
}